body{
  font-family: 'Titillium Web', sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  /* margin: 15vh 0 15vh 0; */
}
.App h1{
  display: inline;
  align-items: flex-start;
}
.form-outline
{
  display:inline;
  justify-content: end;
  align-items: flex-end;
}
.search
{
  display: inline !important;
  width: 40vh;
}
.nav-container
{
  padding: 0 auto auto auto auto !important;
}
.navbar
{
  padding: 15px;
  border-radius: 10px;
}
.tableWrapper
{
  padding: 20px;
  border-radius: 10px;
}
.tableHeaders{
  background-color: #D6E6F2;
  padding: 20px;
  border-radius: 10px;
}
.table{
  border-collapse: collapse;
}
.headerRow
{
  padding: 20px;
  border-radius: 10px;
  background-color: #D6E6F2;
}
th{
  padding: 10px 32px 10px 32px;
}
.tableRow
{
  border-radius: 10px;
  margin: 20px 0 20px 0 !important;
}
td{
  line-height: 50px;
}
.tableCol{
  padding: .5em 0 .5em 0 !important;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align:justify !important;
  border-radius: inherit;
  
}
.heading
{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}